server:
  port: 8080
     
spring:
  application:
    name: kafka-consumer
    
  kafka:
    bootstrap-servers: my-cluster.kafka.35.209.207.26.nip.io:32100
    security:
      protocol: SASL_PLAINTEXT
    properties:
      sasl:
        jaas:
          config: org.apache.kafka.common.security.scram.ScramLoginModule required username="edu-user" password="nxRcaiHkAOi9YhaFcm3zn6STlWyqivCf";
        mechanism: SCRAM-SHA-512
     
    consumer:
      group-id: edu-group__         # 본인의 그룹명으로 수정할것

topic:
  name: edu-topic__                 # 본인의 토픽명으로 수정할것